body {
  margin: 200;
  padding: 200;
  position: 'absolute';
  left: '50%';
  top: '50%';
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.todo-collection {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  margin: 200;
  padding: 200;
  position: 'absolute';
  left: '50%';
  top: '50%';
  background-color: '#E3F2FD';
  text-align: center;
}
.todos {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  margin: 200;
  padding: 200;
  position: 'absolute';
  left: '50%';
  top: '50%';
  background-color: '#E3F2FD';
  text-align: center;
}
